<nav class="navbar navbar-expand-lg bg-body-tertiary px-auto px-md-10 mx-0 mb-3 fixed-top border-top border-bottom border-2 border-info">
  <div class="container-fluid">

    <strong class="ms-2 fs-5"> 
        <%= link_to "PLANTILLA", root_path, class:"navbar-brand text-body-secondary" %>
    </strong>

    <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse gap-2 justify-content-start" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
        <% if user_signed_in? %>
          <li class="nav-item col-12 col-md-auto ms-2 ms-sm-0">
            <%= link_to "Cursos", courses_path, class:"nav-link fs-5 ms-2 ms-md-0 btn btn-light " %>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item col-12 col-md-auto ms-2 ms-sm-0">
              <%= link_to "Crear Curso", new_course_path, class:"nav-link fs-5 ms-2 ms-md-0 btn btn-light " %>
            </li>
          <% else %>
            <li class="nav-item col-12 col-md-auto ms-2 ms-sm-0">
              <%= link_to "Mis inscripciones", enrollments_path, class:"nav-link fs-5 ms-2 ms-md-0 btn btn-light " %>
            </li>
          <% end %>
        <% end%>
      </ul>

      <div class="d-flex mx-2 justify-content-end align-items-center">
        <% if user_signed_in? %>

          <% if current_user.name.present? %>
              <%= link_to current_user.name,  edit_user_registration_path(@user),  class: "mx-2 btn btn-primary" %>
          <% else %>
              <%= link_to current_user.email, edit_user_registration_path(@user),  class: "mx-2 btn btn-primary" %>  
          <% end %>

          <%= button_to "Cerrar sesión", destroy_user_session_path, class: "btn btn-secondary", method: :delete %>
  
        <% else %>

          <div >
            <%= link_to "Iniciar sesión", new_user_session_path,   class: "btn btn-secondary" %>
            <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-secondary" %>
          </div>

        <% end %>
      </div>
  

    </div>
  </div>
</nav>