<%= form_with(model: [course, enrollment], url: course_enrollments_path(course), method: :post, local: true) do |form| %>

  <div class="my-2 w-100 ">

    <%= form.hidden_field :progress,  value: 0 %>
    <%= form.hidden_field :user_id,   value: current_user.id %>
    <%= form.hidden_field :course_id, value: course.id %>

    <div class="actions">
      <%= form.submit "Inscribir", class: "mt-3 btn btn-success", style: "width:100px" %>
    </div>
    
  </div>

<% end %>
