
<h2> Inscripción </h2>

<div class="mb-3 w-100 w-sm-50 text-left border border-2 rounded-2 border-secondary-subtle">
                                        
    <div class="row pt-2 mx-1 mx-md-2">
      <strong>
        Título
      </strong>
      <div>
        <%= @enrollment.course.title %>
      </div>
    </div>

    <div class="row pt-2 mx-1 mx-md-2">
      <strong>
        Descripción
      </strong>
      <div>
        <%= @enrollment.course.description %>
      </div>
    </div>

    <div class="row py-2 mx-1 mx-md-2">
      <strong>
        Progreso
      </strong>
      <div>
        <%= @enrollment.progress %>
      </div>
    </div>
    <br>

</div>

<div>
  <%= button_to "Eliminar", @enrollment, method: :delete, class: "mb-3 btn btn-danger" %>
  <%= link_to "Regresar", enrollments_path, class: "col-5 col-md-1 btn btn-light border border-2" %>
</div>



