<%= form_with(model: course) do |form| %>

  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= course.errors.count %> error(es). No es posible crear/actualizar oferta de cargo debido a:</h2>
      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-2">
    <%= form.label :title, "Título", class: "col-6" %><br>
    <%= form.text_field :title, required: true, class: "ps-2 col-11 col-sm-9 border border-2 border-secondary-subtle rounded", style:"height: 35px" %>
  </div>

  <div class="my-2">
    <%= form.label :description, "Descripción" %><br>
    <%= form.text_area :description, required: true, autocomplete: "curriculum", class: "ps-2 col-11 col-sm-9 border border-2 rounded-2 border-secondary-subtle", rows: 3 %>
  </div>

  <div class="my-2">
    <%= form.label :duration, "Duración (días)", class: "col-6" %><br>
    <%= form.text_field :duration, required: true, class: "ps-2 col-6 col-md-2 border border-2 border-secondary-subtle rounded", style:"height: 35px" %>
  </div>

  <div class="mt-4 mb-3">
    <% if controller_name == "courses" %>
      <% if action_name == "new" || action_name == "create" %>
        <%= form.submit "Crear curso", class: "col-5 col-md-1 btn btn-success" %>
      <% elsif action_name == "edit" || action_name == "update"%>
        <%= form.submit "Actualizar", class: "col-5 col-md-1 btn btn-success" %>
      <% end %>
    <% end %>
  </div>

<% end %>

